.nav-elements {
  background-color: #c01d33;
  font-size: 1.5em;
  color:white;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  width: 100%;
  margin: auto;
}
